@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
  background-color: transparent !important;
}
.poem-block {
  background-color: transparent !important;
  padding: 0.1rem !important;
}
.language-poem {
  font-family: cursive !important;
  font-style: italic !important;
  background-color: transparent !important;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* markdown.css */

:root {
  --markdown-h1-color: #222;
  --markdown-h2-color: #2c3e50;
  --markdown-h3-color: #2c3e50;
  --markdown-h4-color: #2c3e50;
  --markdown-h5-color: #2c3e50;
  --markdown-h6-color: #2c3e50;
  --markdown-table-even-row-bg: #f9fafa;
  --markdown-table-th-bg: #e9ecef;
  --hr-color: #686868;
  --katex-color: #4d4d4d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --markdown-h1-color: #fff;
    --markdown-h2-color: #ebebeb;
    --markdown-h3-color: #d6d6d6;
    --markdown-h4-color: #d6d6d6;
    --markdown-h5-color: #d6d6d6;
    --markdown-h6-color: #d6d6d6;
    --markdown-table-even-row-bg: #272727;
    --markdown-table-th-bg: #3a3a3a;
    --hr-color: #dadada;
    --katex-color: #d4d4d4;
  }
}

.katex {
  color: var(--katex-color);
  font-size: 1.25rem !important;
  line-height: 1.2em !important;
  max-width: 100% !important;
  padding: 1rem !important;
  height: max-content;
  display: block !important;
  overflow-y:hidden !important;
  overflow-x: auto !important;
  white-space: nowrap !important;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 transparent;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.katex::-webkit-scrollbar {
  height: 5px; /* Height of the horizontal scrollbar */
}

.katex::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

.katex::-webkit-scrollbar-thumb {
  background-color: rgba(160, 160, 160, 0.3); /* Semi-transparent thumb */
  border-radius: 10px;
}

.katex::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.8); /* Darker on hover */
}

.markdown-content hr {
  padding: 0;
  margin: 24px 0;
  border-color: var(--hr-color);
}

.markdown-content h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--markdown-h1-color);
  margin: 1.5rem 0;
}

.markdown-content h2 {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  font-weight: 400;
  color: var(--markdown-h2-color);
}

.markdown-content h3 {
  font-size: 1.3rem;
  margin: 1.5rem 0;
  font-weight: 500;
  color: var(--markdown-h3-color);
}

.markdown-content h4 {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  font-weight: 500;
  color: var(--markdown-h4-color);
}

.markdown-content h5 {
  font-size: 1.1rem;
  margin: 1.5rem 0;
  font-weight: 500;
  color: var(--markdown-h5-color);
}

.markdown-content h6 {
  font-size: 1rem;
  margin: 1.5rem 0;
  font-weight: 500;
  color: var(--markdown-h6-color);
}

.markdown-content a {
  color: #1a73e8;
  font-weight: 500;
  text-decoration: none;
}

.markdown-content a:hover {
  color: #0d47a1;
}

.markdown-content ul,
.markdown-content ol {
  margin: 1em 0;
  padding-left: 2em;
}

.markdown-content li {
  margin: 0.5em 0;
}

.markdown-content ul {
  list-style-type: disc;
}

.markdown-content ol {
  list-style-type: decimal;
}

.markdown-content ul ul,
.markdown-content ol ul {
  list-style-type: circle;
  margin: 0.5em 0;
}

.markdown-content ul ul ul,
.markdown-content ol ul ul {
  list-style-type: square;
}

.markdown-content blockquote {
  border-left: 4px solid #ccc;
  color: #7a7a7a;
  padding-left: 1em;
  margin: 1em 0;
  font-style: italic;
}

.markdown-content img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin: 1em 0;
}

.markdown-content table {
  width: 98%;
  border-collapse: collapse;
  margin: 1.5em auto;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(1, 0, 0, 0.1);
  border-radius: 0.5em;
  font-size: 0.95em;
  table-layout: auto;
}

.markdown-content th,
.markdown-content td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.2s ease;
}

.markdown-content th {
  background: var(--markdown-table-th-bg);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.85em;
  text-align: center;
}

.markdown-content tr {
  border-bottom: 1px solid #f0f0f0;
}

.markdown-content tr:nth-child(even) {
  background-color: var(--markdown-table-even-row-bg);
}

/* Responsive: Horizontal scroll on small screens */
@media (max-width: 768px) {
  .markdown-content table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 99%;
    margin: 1.5em 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .markdown-content tbody {
    overflow-wrap: break-word;
    white-space: normal;
  }

}

/* Animation for SidePanel */
.sidebar.show {
  animation: 250ms slideInLeft cubic-bezier(.32, .88, .7, 1.05);
}

.sidebar.hide {
  animation: 250ms slideOutLeft cubic-bezier(.32, .88, .7, 1.05);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}